@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id="home">
    {{count}}
    {{test}}
</div>


@section Scripts{
    <script src="~/js/Reference/HelloWorld.js" asp-append-version="true"></script>

}