@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id="home">
    <div class="row">
        <div class="col">
            {{ count }}
        </div>
        <div class="col">
            {{ doneTodos }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" v-on:click="clickMe">Click Me</button>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Reference/Store/Modules/item1.js" asp-append-version="true"></script>
    <script src="~/js/Reference/HelloWorld.js" asp-append-version="true"></script>
    s
}